<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [3]:
# your code goes here
df.duplicated().sum()

154

In [4]:
# How many duplicates in Respondent column
df.Respondent.duplicated().sum()

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [5]:
# your code goes here
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [6]:
# your code goes here
df.duplicated().sum()

0

In [7]:
# how many rows in the dataset
len(df)

11398

In [8]:
# how many unique rows in Respondent column
len(df.Respondent.unique())

11398

## Finding Missing values

Find the missing values for all columns.

In [9]:
# your code goes here
df.isnull().sum()
#df.isna().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [10]:
# your code goes here
df.WorkLoc.isnull().sum()
#df.WorkLoc.isna().sum()

32

In [11]:
# how many blank rows in EdLevel column
df.EdLevel.isnull().sum()
#df.EdLevel.isna().sum()

112

In [12]:
# how many blank rows in Country column
df.Country.isnull().sum()
#df.Country.isna().sum()

0

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [13]:
# your code goes here
df.WorkLoc.value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [14]:
#make a note of the majority value here, for future reference
# Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [15]:
# your code goes here
df.WorkLoc.fillna('Office', inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [16]:
# your code goes here
df.WorkLoc.value_counts()

Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

In [17]:
# majority category under the column Employment
df.Employment.value_counts()

Employed full-time    10968
Employed part-time      430
Name: Employment, dtype: int64

In [18]:
# minimum category under the column UndergradMajor
df.UndergradMajor.value_counts(ascending=True)

A health science (ex. nursing, pharmacy, radiology)                        24
I never declared a major                                                  124
Fine arts or performing arts (ex. graphic design, music, studio art)      161
A humanities discipline (ex. literature, history, philosophy)             207
A social science (ex. anthropology, psychology, political science)        210
A business discipline (ex. accounting, finance, marketing)                244
Mathematics or statistics                                                 372
A natural science (ex. biology, chemistry, physics)                       403
Web development or web design                                             410
Another engineering discipline (ex. civil, electrical, mechanical)        759
Information systems, information technology, or system administration     794
Computer science, computer engineering, or software engineering          6953
Name: UndergradMajor, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [19]:
# your code goes here
df.CompFreq.unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [20]:
# your code goes here
df.CompFreq.replace('Yearly',value=1, inplace=True)
df.CompFreq.replace('Monthly',value=12, inplace=True)
df.CompFreq.replace('Weekly',value=52, inplace=True)
df['NormalizedAnnualCompensation'] = df.CompTotal * df.CompFreq
df['NormalizedAnnualCompensation']

0         61000.0
1        138000.0
2         90000.0
3        348000.0
4         90000.0
           ...
11547    130000.0
11548     74400.0
11549    105000.0
11550     80000.0
11551         NaN
Name: NormalizedAnnualCompensation, Length: 11398, dtype: float64

In [21]:
# unqiue values in CompFreq column
sum(df.CompFreq==1)

6073

In [22]:
# median NormalizedAnnualCompensation
df.NormalizedAnnualCompensation.median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).